@import 'colors';
@import 'fonts';

// 1. Import the initial variables
@import "bulma/sass/utilities/initial-variables";


$blue: $color_blue;
$pink: $color_orange;
$pink-invert: #fff;
$family-serif: 'principal';
$primary: $pink;
$primary-invert: $pink-invert;
$danger: $color_orange;

$family-primary: 'principal';

@import "bulma/bulma";


body{
    font-family: 'principal';
}

#background-login {
    background: {
        image: url(../img/fondo.jpg);
        size: cover;
        position: center;
    }
}
nav.nav.has-shadow {
    background-color: $color_blue;
    a {
        color: $color_white;
        }
        .nav-item a.is-tab.is-active, a.nav-item.is-tab.is-active {
            color: $color_orange;
            border-bottom-color: $color_orange;
        }
    }
aside {
    padding: 2em;
}